.bottom-margin {
    margin-bottom: 9em !important;
}

.product-title {
    margin-top: 1.8rem !important;
}

.product-desc {
    background-color: #dae3e8;
    padding-left: 15.1rem !important;
    padding-right: 6rem !important;
}

.list-space {
    padding-left: 1em;
    font-weight: 300;
    font-size: 14px;
}

.carousel-indicators [data-bs-target] {
    border-radius: 50% !important;
    width: 7px !important;
    height: 7px !important;
}

.spacing-style {
    margin-left: 1.3rem;
    margin-right: 1.3rem;
}

.product-border {
    opacity: 0.7; 
}

.product-border:after {
    content:"";
    display: block;
    width: 7em;
    border-bottom: 2px solid #7FAAFF;
}

.carousel-indicators .active {
    background-color: #0D6EFD !important;
}

.content-spacing {
    margin-top: 3rem;
    padding-bottom: 9rem;
}

.purchase-btn-style {
    border-radius: 20px !important;
    padding: 9px 32px !important;
    font-size: 13px !important;
}

.price-card {
    position: fixed !important;
    bottom: 0;
    width: 100%;
    background: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    font-size: 14px;
}

.slide {
    padding-right: 9.5rem;
}

.img-style {
    margin-top: 3.8rem !important;
}

.carousel-indicators {
    top: 100%;
    margin-left: 0 !important;
    margin-top: 0.5rem;
    margin-right: 9rem !important;
}

.carousel-indicators button {
    background-color: rgb(129, 127, 127) !important;
}

@media only screen and (max-width: 1300px) and (min-width: 1100px) {
    .carousel-indicators {
        margin-right: 5.5rem !important;
    }

    .product-desc {
        padding-left: 13.1rem !important;
        padding-right: 7rem !important;
        padding-bottom: 6.3rem !important;
    }

    .img-style {
        height: 380px !important;
    }

    .slide {
        padding-right: 6.5rem !important;
    }

    .content-spacing {
        padding-bottom: 0 !important;
    }
}

@media only screen and (max-width: 1090px) and (min-width: 800px) {
    .carousel-indicators {
        margin-right: 1.5rem !important;
    }

    .product-desc {
        padding-left: 4.1rem !important;
        padding-right: 2rem !important;
    }

    .slide {
        padding-right: 2.5rem !important;
    }

    .img-style {
        height: 420px !important;
    }

    .content-spacing {
        padding-bottom: 7rem !important;
    }
}

@media only screen and (max-width: 800px) {
    .product-desc {
        background-color: unset !important;
        padding-left: 1.7rem !important;
    }

    .list-space {
        padding-left: 1.7em;
    }

    .content-spacing {
        margin-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .bottom-margin {
        margin-bottom: 0 !important;
    }

    .carousel-indicators {
        margin-right: 0 !important;
    }

    .slide {
        margin-bottom: 0 !important;
    }
}  

@media only screen and (max-width: 800px) and (min-width: 500px) {
    .space-style {
        padding-left: 0 !important;
    }

    .bottom-margin {
        height: 670px;
    }

    .slide {
        margin-top: 4.5rem !important;
        padding-right: 0 !important;
    }

    .img-style {
        height: 340px;
    }

    .price-card {
        font-size: 15px;
    }

    .product-title {
        margin-top: 0.8rem !important;
    }

    .product-desc {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .content-spacing {
        margin-top: 7.8rem !important;
    }
}

@media only screen and (max-width: 495px) {

    .space-style {
        padding-left: 0.3rem !important;
        padding-right: 0.3rem !important;
    }

    .bottom-margin {
        height: 900px;
    }

    .slide {
        margin-top: 4.5rem !important;
        padding-right: 0 !important;
    }

    .img-style {
        height: 300px;
    }

    .product-border {
        font-size: 14px;
    }

    .spacing-style {
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }

    .product-title {
        margin-top: 0.8rem !important;
    }

    .product-desc {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .content-spacing {
        height: 500px;
        margin-top: 3rem !important;
    }
}